extends videos_layout

block content
    .video_main
        .video_main_list
            include videos_main_list
            include videos_comment
        .play_more_list
            .play_more_list_title='接下来播放'
            ul.play_more_ul
                .play_more_ul_container#play_more_ul_container
                .view_more
                    a.view_more_text#view_more_text(href='javascript:;', page=1, onclick='javascript:click_more()')='加载更多'