.main_menu_container
    ul.main_menu_ul
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_home
                span.main_menu_text='首页'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_pop
                span.main_menu_text='时下流行'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_history
                span.main_menu_text='历史记录'
        hr