.nav_container
    .nav_main
        button.nav_menu#nav_menu(onclick='javascript:click_hidden()')
            span.nav_menu_logo
        .nav_logo_container
            span.nav_logo
    .nav_search
        form
            input.nav_input(placeholder='搜索')
            button.nav_search_button
                span.nav_search_button_logo
    .nav_else
        .nav_else_container
            a.nav_upload_a(href='#')
                span.nav_upload
            a.nav_login_button_a(href='#')
                button.nav_login_button
                    span='登录'