extends YouTube_layout

block content
    .music_card_main_title='热门音乐视频'
    if datasets
        include YouTube_music_card_li
    .view_more
        a.view_more_text#view_more_text(href='javascript:;', onclick='javascript:TODO')='加载更多'