doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport',
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet', href='/stylesheets/default.css')
        link(rel='stylesheet', href='/stylesheets/YouTube_layout.css')
        link(rel='stylesheet', href='/stylesheets/YouTube_nav.css')
        link(rel='stylesheet', href='/stylesheets/YouTube_main_menu.css')
        script(type='text/javascript', src='/javascripts/default.js')
        script(type='text/javascript', src='/javascripts/auto_hidden.js')
        script(type='text/javascript', src='/javascripts/click_hidden.js')
        title='YouTube'
    body
        .nav
            include YouTube_nav
        .main
            .main_menu#main_menu
                include YouTube_main_menu
            .main_page#main_page

        block content