doctype html
html
    head
        title= YouTube
        link(rel='stylesheet', href='/stylesheets/default.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
    body
        block content