.main_menu_container{
    padding: 13px 10%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin: -1px;
}

.main_menu_ul{

}

.main_menu_li{
    padding-top: 1px;
    padding-bottom: 1px;
}

.main_menu_a{
    width: 100%;
    height: 26px;
    display: block;
}

.main_menu_a:hover{
    color: #ffffff;
    background-color: #222222;
}

.main_menu_logo{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 2px;
    margin-left: 9px;
    float: left;
}

.main_menu_text{
    font-size: 13px;
    position: relative;
    margin: 1px 0 2px 7px;
    float: left;
}

.main_menu_home{
    background: no-repeat url("../images/default.png") -82px 0;
    display: inline-block;
}

.main_menu_pop{
    background: no-repeat url("../images/default.png") -563px -232px;
    display: inline-block;
}

.main_menu_history{
    background: no-repeat url("../images/default.png") -378px -50px;
    display: inline-block;
}